<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <main set:type="Sitecore.Support.Data.Oracle.OracleDataProvider, Sitecore.Support.154851" />
    </dataProviders>
  </sitecore>
</configuration>
<!--   <main type="Sitecore.Data.Oracle.OracleDataProvider, Sitecore.Oracle">
        <patch:attribute name="type">Sitecore.Support.Data.Oracle.OracleDataProvider, Sitecore.Support.154851</patch:attribute>       
      </main>  
<main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
-->